<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="header__bg-color">
            <div class="header__cont">
                <h1 class="header__title">Finanzas personales</h1>
                <button class="header__button" type="button">¡Empezá ya!</button>

                <div class="burga">
                    <div class="burgas"></div>
                    <div class="burgas"></div>
                    <div class="burgas"></div>
                </div>
            </div>

            <nav class="header__navbar" id="navBar">
                <ul class="header__ul">
                    <a class="header__nav__item" href="/">Inicio</a>
                    <a class="header__nav__item" href="./presupuesto.html">Armá tu presupuesto</a>
                    <a class="header__nav__item" href="#">¡Próximamente!</a>
                </ul>
            </nav>

        </div>
    </header>
    
    <main>
        <h3 align="center">¡Creá un presupuesto!</h3>
        <p align="center">Próximamente...</p>
    </main>

    <script src="../js/header.js"></script>
</body>
</html>